<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFScanner"
        tools:targetApi="31">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.test.TestActivity"
            android:exported="true">

        </activity>
        <activity android:name=".ui.addsignature.ActivitySignature"
            android:exported="true">

        </activity>

        <activity android:name=".ui.setting.SettingActivity"
            android:exported="true"/>
        <activity
           android:name=".ui.pdfdetails.ActivityDetailsPDF"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.anticounter.ActivityPickPageSize"
            android:exported="true" />
        <activity
            android:name=".ui.anticounter.ActivityAntiCounter"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.takephoto.ActivityShowDocsImage"
            android:exported="true" />


        <activity
            android:name=".ui.premium.PremiumActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.setting.ScanSettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.setting.PdfSettingActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.pickphoto.ShowImageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.crop.CropImageActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.editIamge.ActivityEditImage"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.results.ActivityShowResult"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.recognizetext.ActivityResultRecognizeText"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.recognizetext.ActivitySelectLanguage"
            android:exported="true" />

        <activity
            android:name=".ui.takephoto.ActivityTakePhoto"
            android:exported="true" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>


</manifest>